<% content_for(:title, 'Edit | Bus') %>

<h1>Edit Bus</h1>

<%= render('layouts/errors', :object => @bus) %>

<%= render('form') %>

<p><%= link_to "Delete", bus_path(@bus),
                        :data => { :confirm => 'Are you sure you want to delete this bus?',
                        :method => 'delete'},
                        :class => "btn btn-danger" %>
</p>
